body {
    font-family: "Mingzat", Arial, sans-serif;
    margin: 0;
}

body>footer,
body>header {
    background-color: #f7b2ad;
}

body>footer>p {

    padding: 16px;
    color: #fff;
    text-align: center;
}



body>main>article {
    margin: auto;
    width: 70%;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    display: inline;
    padding: 2%;
}

nav>ul>li>a {
    color: #fff;
}

#logo {
    margin: 0;
    font-family: "Fredoka One", sans-serif;
}

.like-button {
    background-color: transparent;
    border: dodgerblue solid;
}

.share-button {
    background-color: transparent;
    border: solid green;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.1em;
}